<% include partials/header %>

<div class="container">
  <div class="jumbotron">
    <h1>Marketplace</h1>
    <div class="input-group input-group-lg col-lg-12">
      <span class="input-group-addon" id="sizing-addon1">
        <i class="fas fa-comment-dollar"></i
      ></span>
      <input
        type="number"
        class="form-control"
        placeholder="Find anything..."
        aria-describedby="sizing-addon1"
      />
      <span
        ><button class="btn btn-default btn-lg col-lg-3">
          Search <i class="fas fa-search"></i></button
      ></span>
      <span
        ><button class="btn btn-default btn-lg col-lg-3">
          Sort <i class="fas fa-sort"></i></button
      ></span>
      <span
        ><button class="btn btn-default btn-lg col-lg-3">
          Filter <i class="fas fa-filter"></i></button
      ></span>
    </div>
  </div>
  <div>
      <h2><strong>12 matching results</strong></h2>
      <hr>
  </div>

  <div class="row">
    <div class="col-sm-6 col-md-2">
      <div class="thumbnail">
        <img src="https://cdn3.vectorstock.com/i/1000x1000/34/72/sticky-note-icon-in-a-flat-style-vector-23233472.jpg" />
        <div class="caption">
          <h3><span style="font-weight:bold">ECE3051 Notes</span></h3>
          <p2
            ><span style="padding-bottom: 30px"
              >by Angela</span
            ></p2
          >
          <span style="width: 20%"><hr /></span>
          <p>
            <a href="#" class="btn btn-default" role="button">Chat <i class="fas fa-comment-dots"></i></a>
            <a href="#" class="btn btn-success" role="button">Buy for $5</a>
          </p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-2">
      <div class="thumbnail">
        <img src="https://cdn3.vectorstock.com/i/1000x1000/34/72/sticky-note-icon-in-a-flat-style-vector-23233472.jpg" />
        <div class="caption">
          <h3><span style="font-weight:bold">TRC4200 Notes</span></h3>
          <p2
            ><span style="padding-bottom: 30px">by Chloe</span></p2
          >
          <span style="width: 20%"><hr /></span>
          <p>
            <a href="#" class="btn btn-default" role="button">Chat <i class="fas fa-comment-dots"></i></a>
            <a href="#" class="btn btn-success" role="button">Buy for $8</a>
          </p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-2">
      <div class="thumbnail">
        <img src="https://cdn3.vectorstock.com/i/1000x1000/34/72/sticky-note-icon-in-a-flat-style-vector-23233472.jpg" />
        <div class="caption">
          <h3><span style="font-weight:bold">ECE3161 Notes</span></h3>
          <p2
            ><span style="padding-bottom: 30px">by James</span></p2
          >
          <span style="width: 20%"><hr /></span>
          <p>
            <a href="/market/example" class="btn btn-default" role="button"
              >Chat <i class="fas fa-comment-dots"></i></a
            >
            <a href="#" class="btn btn-success" role="button">Buy for $11</a>
          </p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-2">
      <div class="thumbnail">
        <img src=https://cdn3.vectorstock.com/i/1000x1000/34/72/sticky-note-icon-in-a-flat-style-vector-23233472.jpg" />
        <div class="caption">
          <h3><span style="font-weight:bold">ENG1003 Notes</span></h3>
          <p2><span style="padding-bottom: 30px">by Hassan</span></p2>
          <span style="width: 20%"><hr /></span>
          <p>
            <a href="#" class="btn btn-default" role="button">Chat <i class="fas fa-comment-dots"></i></a>
            <a href="#" class="btn btn-success" role="button">Buy for $7</a>
          </p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-2">
      <div class="thumbnail">
        <img
          src="https://cdn3.vectorstock.com/i/1000x1000/34/72/sticky-note-icon-in-a-flat-style-vector-23233472.jpg"
        />
        <div class="caption">
          <h3><span style="font-weight:bold">ENG2005 Notes</span></h3>
          <p2
            ><span style="padding-bottom: 30px"
              >by Ifham</span
            ></p2
          >
          <span style="width: 20%"><hr /></span>
          <p>
            <a href="#" class="btn btn-default" role="button">Chat <i class="fas fa-comment-dots"></i></a>
            <a href="#" class="btn btn-success" role="button">Buy for $5</a>
          </p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-2">
      <div class="thumbnail">
        <img src="https://cdn3.vectorstock.com/i/1000x1000/34/72/sticky-note-icon-in-a-flat-style-vector-23233472.jpg" />
        <div class="caption">
          <h3><span style="font-weight:bold">TRC3500 Notes</span></h3>
          <p2
            ><span style="padding-bottom: 30px"
              >by Hassan</span
            ></p2
          >
          <span style="width: 20%"><hr /></span>
          <p>
            <a href="#" class="btn btn-default" role="button">Chat <i class="fas fa-comment-dots"></i></a>
            <a href="#" class="btn btn-success" role="button">Buy for $8</a>
          </p>
        </div>
      </div>
    </div>




<!-- 6 stack -->


    <div class="col-sm-6 col-md-2">
            <div class="thumbnail">
              <img src="https://cdn3.vectorstock.com/i/1000x1000/34/72/sticky-note-icon-in-a-flat-style-vector-23233472.jpg" />
              <div class="caption">
                <h3><span style="font-weight:bold">TRC3600 Notes</span></h3>
                <p2
                  ><span style="padding-bottom: 30px"
                    >by Lik Sern</span
                  ></p2
                >
                <span style="width: 20%"><hr /></span>
                <p>
                  <a href="#" class="btn btn-default" role="button">Chat <i class="fas fa-comment-dots"></i></a>
                  <a href="#" class="btn btn-success" role="button">Buy for $13</a>
                </p>
              </div>
            </div>
          </div>
      
          <div class="col-sm-6 col-md-2">
            <div class="thumbnail">
              <img src="https://cdn3.vectorstock.com/i/1000x1000/34/72/sticky-note-icon-in-a-flat-style-vector-23233472.jpg" />
              <div class="caption">
                <h3><span style="font-weight:bold">CHE4022 Notes</span></h3>
                <p2
                  ><span style="padding-bottom: 30px">by Steph</span></p2
                >
                <span style="width: 20%"><hr /></span>
                <p>
                  <a href="#" class="btn btn-default" role="button">Chat <i class="fas fa-comment-dots"></i></a>
                  <a href="#" class="btn btn-success" role="button">Buy for $8</a>
                </p>
              </div>
            </div>
          </div>
      
          <div class="col-sm-6 col-md-2">
            <div class="thumbnail">
              <img src="https://cdn3.vectorstock.com/i/1000x1000/34/72/sticky-note-icon-in-a-flat-style-vector-23233472.jpg" />
              <div class="caption">
                <h3><span style="font-weight:bold">ECE3071 Notes</span></h3>
                <p2
                  ><span style="padding-bottom: 30px">by Kwan</span></p2
                >
                <span style="width: 20%"><hr /></span>
                <p>
                  <a href="#" class="btn btn-default" role="button"
                    >Chat <i class="fas fa-comment-dots"></i></a
                  >
                  <a href="#" class="btn btn-success" role="button">Buy for $23</a>
                </p>
              </div>
            </div>
          </div>
      
          <div class="col-sm-6 col-md-2">
            <div class="thumbnail">
              <img src=https://cdn3.vectorstock.com/i/1000x1000/34/72/sticky-note-icon-in-a-flat-style-vector-23233472.jpg" />
              <div class="caption">
                <h3><span style="font-weight:bold">TRC4091 Notes</span></h3>
                <p2><span style="padding-bottom: 30px">by Caleb</span></p2>
                <span style="width: 20%"><hr /></span>
                <p>
                  <a href="#" class="btn btn-default" role="button">Chat <i class="fas fa-comment-dots"></i></a>
                  <a href="#" class="btn btn-success" role="button">Buy for $9</a>
                </p>
              </div>
            </div>
          </div>
      
          <div class="col-sm-6 col-md-2">
            <div class="thumbnail">
              <img
                src="https://cdn3.vectorstock.com/i/1000x1000/34/72/sticky-note-icon-in-a-flat-style-vector-23233472.jpg"
              />
              <div class="caption">
                <h3><span style="font-weight:bold">ENG2010 Notes</span></h3>
                <p2
                  ><span style="padding-bottom: 30px"
                    >by Lik Sern</span
                  ></p2
                >
                <span style="width: 20%"><hr /></span>
                <p>
                  <a href="#" class="btn btn-default" role="button">Chat <i class="fas fa-comment-dots"></i></a>
                  <a href="#" class="btn btn-success" role="button">Buy for $7</a>
                </p>
              </div>
            </div>
          </div>
      
          <div class="col-sm-6 col-md-2">
            <div class="thumbnail">
              <img src="https://cdn3.vectorstock.com/i/1000x1000/34/72/sticky-note-icon-in-a-flat-style-vector-23233472.jpg" />
              <div class="caption">
                <h3><span style="font-weight:bold">TRC3200 Notes</span></h3>
                <p2
                  ><span style="padding-bottom: 30px"
                    >by Hassan</span
                  ></p2
                >
                <span style="width: 20%"><hr /></span>
                <p>
                  <a href="#" class="btn btn-default" role="button">Chat <i class="fas fa-comment-dots"></i></a>
                  <a href="#" class="btn btn-success" role="button">Buy for $18</a>
                </p>
              </div>
            </div>
          </div>





  </div>
</div>

<% include partials/footer %>
