<% include partials/header %>
	
	<div class = "container">
			<div class="jumbotron">
				<div class="container" >

					<a  href="#" class="btn btn-default btn-lg"><i class="fas fa-arrow-circle-left"></i> Go Back</a>
					<a  href="#" class="btn btn-default btn-lg"><i class="fas fa-edit"></i> Edit Profile</a>						
					<img align="right" src="https://digistorm-websites.s3-ap-southeast-2.amazonaws.com/cac-au-qld-27-website/content/Imported/Monash_Uni_Logo.jpg?mtime=20180928141803" class="img-rounded"  width="250px" height="75px">	
				</div>

				
				<h1>Client Profile</h1>
				<div = class="row">
					<div class="col-lg-4">
						<img src="https://semantic-ui.com/images/avatar/large/christian.jpg" class="img-rounded"  width="90%" height="90%">		
					</div>	
					<div class = "col-lg-6" id = "profile_details">
						<p><b>Name:</b> <span>Amro Ahmet</span></p>
						<p><b>Course:</b> <span>Mechantronics Engineering</span></p>
						<p><b>Join Date:</b> <span>29th November 2019</span></p>						
                        <p><b>University:</b> <span>Monash University</span> %</p>	
                        <p><b>Rating:</b> <span>4.9/5 (108 reviews)</span></p>	
					</div>						
				</div>				

				<div class="row">
					<h2><b>Sub-Processes Metrics</b></h2>
					<table class="table">
					  <thead>
						<tr>
					      <th scope="col">Sub-PID</th>
					      <th scope="col">Name</th>
						  <th scope="col">Sub-Quan. /shirt</th>
					      <th scope="col">Total Sub-Quan.</th>
					      <th scope="col">Std. Time (min)</th>
					      <th scope="col">Std. Cost (RM) /piece</th>
					      <th scope="col">Std. Sell (RM) /piece</th>
					      <th scope="col">Sub-Completion (%)</th>
					      <th scope="col">Overall Sub-Completion (%)</th>			      				      
						</tr>
					  </thead>
					  <tbody>

		
						<tr>
						  <td>1</td>			      
						  <td>2</td>			      
						  <td>3</td>			      
						  <td>4</td>			      
						  <td>6</td>			      
						  <td>6</td>			      
						  <td>7</td>			      
						  <td>8</td>			      
						  <td>9</td>			      
						</tr>	
		


					  </tbody>
					</table>				
					<hr>
				</div>
				<div class="row">
					<div class="col-lg-6" >
						<canvas id="myChart4" width="50%" height="50%"></canvas>
					</div>
					<div class="col-lg-6" >
						<canvas id="myChart2" width="50%" height="50%"></canvas>
					</div>					
				</div>
				<div class="row">
					<div class="col-lg-6" >
						<canvas id="myChart3" width="50%" height="50%"></canvas>
					</div>
					<div class="col-lg-6" >
						<canvas id="myChart" width="50%" height="50%"></canvas>
					</div>					
				</div>					

			</div>

		</div>



<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<section class="team" id="sectionpadding">
  <div class="container" id="homecontent">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="col-lg-12">
          <!-- <h6 class="description">OUR TEAM</h6> -->
		<h1 id=targetTitle><i class="fas fa-cut"></i></i> Acheivements <i class="fas fa-cut"></i> </h1>
          <div class="row pt-md">
			  
			  
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
              <div class="img-box">
                <img src="https://sew4home.com/sites/default/files/1647-Photo-110.jpg" class="img-responsive">
                <ul class="text-center">
                  <a href="#"><li><i class="fa fa-facebook"></i></li></a>
                  <a href="#"><li><i class="fa fa-twitter"></i></li></a>
                  <a href="#"><li><i class="fa fa-linkedin"></i></li></a>
                </ul>
              </div>
              <h1>First Mechantronics</h1>
              <h2>First mentor to enroll to our platform</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
              <div class="img-box">
                <img src="http://3.bp.blogspot.com/-isd-dxZ2dnA/UjYtDIwElUI/AAAAAAAAGrs/30yeL_PGTxQ/s1600/Collar+Tutorial+Finished+1.jpg" class="img-responsive">
                <ul class="text-center">
                  <a href="#"><li><i class="fa fa-facebook"></i></li></a>
                  <a href="#"><li><i class="fa fa-twitter"></i></li></a>
                  <a href="#"><li><i class="fa fa-linkedin"></i></li></a>
                </ul>
              </div>
              <h1></h1>
              <h2></h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
              <div class="img-box">
                <img src="https://theamericanclassic.files.wordpress.com/2013/02/dsc_3272.jpg" class="img-responsive">
                <ul class="text-center">
                  <a href="#"><li><i class="fa fa-facebook"></i></li></a>
                  <a href="#"><li><i class="fa fa-twitter"></i></li></a>
                  <a href="#"><li><i class="fa fa-linkedin"></i></li></a>
                </ul>
              </div>
              <h1></h1>
              <h2></h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
              <div class="img-box">
                <img src="https://www.sewalongs.com/media/2012/10/07-15-baste.jpg" class="img-responsive">
                <ul class="text-center">
                  <a href="#"><li><i class="fa fa-facebook"></i></li></a>
                  <a href="#"><li><i class="fa fa-twitter"></i></li></a>
                  <a href="#"><li><i class="fa fa-linkedin"></i></li></a>
                </ul>
              </div>
              <h1></h1>
              <h2></h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>                                    
			  
			  
			  
			  
          </div>
        </div>
      </div>
    </div>
  </div>
</section>	


<script>


var months = ["Feb", "March", "April", "May"];

var sub100 = [100, 100, 100, 100];
var subLabel = ["Buttons", "Collars", "Body", "Sleeves"];

	

	


	var ctx = document.getElementById("myChart");
	var myChart = new Chart(ctx, {
	  type: 'line',
	  data: {
		labels: subLabel,
		datasets: [
		  { 
			label: 'Cost Price (RM)',
			backgroundColor: 'rgbA(47,60,126, 0.8)',      	
			data: [1,2,3],
		  },		
		  { 
			label: 'Price Markup (RM)',
			backgroundColor: 'rgba(251,234,235, 0.8)',     
			data: [2,4,9],
		  }				  	
		]
	  },
		options: { 
			title: {
				display: true,
				text: "Pricing Strategy",
				fontSize: 15, 
			
		},
			scales: {
				yAxes: [{
					ticks: {
						beginAtZero: true
					}
				}]
			}
		}		
	});

	var ctx2 = document.getElementById("myChart2");
	var myChart2 = new Chart(ctx2, {
	  type: 'horizontalBar',
	  data: {
		labels: subLabel,
		datasets: [		
		  { 
			label: 'Target Completion (%)',
			backgroundColor: 'rgba(60,26,91,0.75)',			

			data: sub100,
		  }  
		]
	  },
		options: { 
			title: {
				display: true,
				text: "Sub-Completion Overview (%)",
				fontSize: 15, 
			
		},
			scales: {
				xAxes: [{
					ticks: {
						beginAtZero: true
					}
				}]
			}
		}			
	});
	

	
	


	var ctx3 = document.getElementById("myChart3");
	var myChart3 = new Chart(ctx3, {
	  type: 'doughnut',
	  data: {
		labels: ["Sleeve","Body","Collar", "Buttons" ],
		datasets: [		
		  { 
			label: "Subject", 
			backgroundColor: [
								"rgb(255, 99, 132)",
								"rgb(54, 162, 235)",
								"rgb(255, 205, 86)",
								"rgba(0, 255, 0, 0.4)",
							],
			data: [9, 10, 3, 1]
		  }      
		]
	  },
		options: { 
			title: {
				display: true,
				text: "Amro's Subject Specialization",
				fontSize: 15, 
			
				},
		}			
	});	



	var ctx4 = document.getElementById("myChart4");
	var myChart4 = new Chart(ctx4, {
	  type: 'pie',
	  data: {
		labels: ["In Progress" ,"Sleeves Completed","Body Completed","Collars Completed", "Buttons Completed" ],
		datasets: [		
		  { 
			label: "Sub-Process Distribution", 
			backgroundColor: [
								"rgba(134, 136, 138, 0.60)",
								"rgb(255, 99, 132)",
								"rgb(54, 162, 235)",
								"rgb(255, 205, 86)",
								"rgba(0, 255, 0, 0.4)",
							],

			data: [4, 10, 6, 30, 50]
		  }      
		]
	  },
		options: { 
			title: {
				display: true,
				text: "Overall Reviews (%)",
				fontSize: 15, 
			
				},
		}			
	});	

	
</script>

<% include partials/footer %>