<% include partials/header %>

<div class = "container">
		<h1>
		Contribute to your community as  a Studdit mentor! 
	</h1>
	<hr>
	<form action="/employees" method="POST">
	  <div class="form-group col-md">
	  	<label for="7">First Name:</label>	
		<input id ="7" class="form-control" type="text" name="firstName" placeholder="">
	  </div>
	  <div class="form-group col-md">
	  	<label for="1">Last Name:</label>	
		<input id ="1" class="form-control" type="text" name="lastName" placeholder="">
	  </div>
	  <div class="form-group">
	  	<label for="3">University:</label>	
		<input id ="3" class="form-control" type="text" name="position" placeholder="">
	  </div>
	  <div class="form-group">
	  	<label for="4">Email:</label>	
		<input id ="4" class="form-control" type="text" name="department" placeholder="">
      </div>  
      <div class="form-group">
            <label for="5">Studdit Group:</label>	
          <input id ="5" class="form-control" type="text" name="department" placeholder="">
    </div>  
		

	  <button type="submit" class="btn btn-primary">Submit</button>
	</form>
</div>


<% include partials/footer %>
