<% include partials/header %>
	
	<div class = "container">
			<div class="jumbotron">
				<div class="container" >

					<a  href="/mentor" class="btn btn-default btn-lg"><i class="fas fa-arrow-circle-left"></i> Go Back</a>
					<a  href="/chat/example" class="btn btn-default btn-lg"><i class="fas fa-comments"></i> Chat Now!</a>						
					<img align="right" src="https://digistorm-websites.s3-ap-southeast-2.amazonaws.com/cac-au-qld-27-website/content/Imported/Monash_Uni_Logo.jpg?mtime=20180928141803" class="img-rounded"  width="250px" height="75px">	
				</div>

				
				<h1>Mentor Profile</h1>
				<div = class="row">
					<div class="col-lg-4">
						<img src="https://semantic-ui.com/images/avatar/large/christian.jpg" class="img-rounded"  width="90%" height="90%">		
					</div>	
					<div class = "col-lg-6" id = "profile_details">
						<p><b>Name:</b> <span>Amro Ahmet</span></p>
						<p><b>Course:</b> <span>Mechantronics Engineering</span></p>
						<p><b>Join Date:</b> <span>29th November 2019</span></p>						
                        <p><b>University:</b> <span>Monash University</span></p>	
                        <p><b>Rating:</b> <span>4.9/5 (108 reviews)</span></p>	
					</div>						
				</div>				

				<div class="row">
					<h2><b>Performance Metrics</b></h2>
					<table class="table">
					  <thead>
						<tr>
					      <th scope="col">User ID</th>
						  <th scope="col">Teaching Hours</th>
					      <th scope="col">Pinned Review</th>			      				      
						</tr>
					  </thead>
					  <tbody>

		
						<tr>
						  <td>26076160</td>			      		      
						  <td>892</td>			      
						  <td>"Teaches even better than my lecturers. Would recommend to anyone and everyone! Thank you :)" - Joyce</td>			      
			      
						</tr>	
					  </tbody>
					</table>				
                    <hr>
                    <div class="row">
                            <div class="col-lg-6" >
                                    <canvas id="myChart3" width="50%" height="50%"></canvas>
                            </div>
                            <div class="col-lg-6" >
                                <canvas id="myChart2" width="50%" height="50%"></canvas>
                            </div>					
                        </div>

				</div>
            </div>


      
	
                
       

            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
            <section class="team" id="sectionpadding">
              <div class="container" id="homecontent">
                <div class="row">
                  <div class="col-md-10 col-md-offset-1">
                    <div class="col-lg-12">
                      <!-- <h6 class="description">OUR TEAM</h6> -->
                    <h1 id=targetTitle><i class="fas fa-medal"></i> Acheivements <i class="fas fa-medal"></i> </h1>
                      <div class="row pt-md">
                          
                          
                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
                          <div class="img-box">
                            <img src="https://cdn3.iconfinder.com/data/icons/flat-rounded-6/50/580-512.png" class="img-responsive">
                            <ul class="text-center">
                              <a href="#"><li><i class="fa fa-facebook"></i></li></a>
                              <a href="#"><li><i class="fa fa-twitter"></i></li></a>
                              <a href="#"><li><i class="fa fa-linkedin"></i></li></a>
                            </ul>
                          </div>
                          <h1>The Chosen One</h1>
                          <h2>Studdit's first ever mentor to join our platform. Woooo!</h2>
                        </div>
            
                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
                          <div class="img-box">
                            <img src="http://icons.iconarchive.com/icons/fps.hu/free-christmas-flat-circle/512/angel-icon.png" class="img-responsive">
                            <ul class="text-center">
                              <a href="#"><li><i class="fa fa-facebook"></i></li></a>
                              <a href="#"><li><i class="fa fa-twitter"></i></li></a>
                              <a href="#"><li><i class="fa fa-linkedin"></i></li></a>
                            </ul>
                          </div>
                          <h1>The Guardian</h1>
                          <h2>An active and frequent contributor to our community. Show him some love!</h2>
                        </div>
            
                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
                          <div class="img-box">
                            <img src="https://freeiconshop.com/wp-content/uploads/edd/alarm-flat.png" class="img-responsive">
                            <ul class="text-center">
                              <a href="#"><li><i class="fa fa-facebook"></i></li></a>
                              <a href="#"><li><i class="fa fa-twitter"></i></li></a>
                              <a href="#"><li><i class="fa fa-linkedin"></i></li></a>
                            </ul>
                          </div>
                          <h1>The Timekeeper</h1>
                          <h2>Outstanding punctuality ratings from peers. Book a meeting and he'll be on time!</h2>
                        </div>
            
                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
                          <div class="img-box">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/08/Circle-icons-rocket.svg/600px-Circle-icons-rocket.svg.png" class="img-responsive">
                            <ul class="text-center">
                              <a href="#"><li><i class="fa fa-facebook"></i></li></a>
                              <a href="#"><li><i class="fa fa-twitter"></i></li></a>
                              <a href="#"><li><i class="fa fa-linkedin"></i></li></a>
                            </ul>
                          </div>
                          <h1>Albert Einstein 2.0</h1>
                          <h2>A fast learner, diligent and knowledgeable. He knows his stuff!</h2>
                        </div>                                    
                          
                          
                          
                          
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>	

		</div>






<script>


var months = ["Feb", "March", "April", "May"];

var sub100 = [100, 100, 100, 100];
var subLabel = ["5 Stars", "4 Stars", "3 Stars", "2 Stars", "1 Star"];

	



	var ctx2 = document.getElementById("myChart2");
	var myChart2 = new Chart(ctx2, {
	  type: 'horizontalBar',
	  data: {
		labels: subLabel,
		datasets: [		
		  { 
			label: 'Rating (%)',
            backgroundColor: ["rgba(0, 255, 0, 0.8)", 
                                "rgba(0, 255, 0, 0.4)",
                                "rgba(255, 205, 86,0.8)",
                                "rgba(255, 205, 86,0.4)",
                                "rgb(255, 99, 132)"
			                ],			
			data: [98,60,45,8,10],
		  }  
		]
	  },
		options: { 
			title: {
				display: true,
				text: "Ratings Overview (108 Reviews)",
				fontSize: 15, 
			
		},
			scales: {
				xAxes: [{
					ticks: {
						beginAtZero: true
					}
				}]
			}
		}			
	});
	

	
	


	var ctx3 = document.getElementById("myChart3");
	var myChart3 = new Chart(ctx3, {
	  type: 'doughnut',
	  data: {
		labels: ["ECE3051","TRC4200","ECE4122", "ECE3161" ],
		datasets: [		
		  { 
			label: "Subject", 
			backgroundColor: [
								"rgb(255, 99, 132)",
								"rgb(54, 162, 235)",
								"rgb(255, 205, 86)",
								"rgba(0, 255, 0, 0.4)",
							],
			data: [2, 4, 1, 3]
		  }      
		]
	  },
		options: { 
			title: {
				display: true,
				text: "Amro's Subject Specialization",
				fontSize: 15, 
			
				},
		}			
	});	

	
</script>

<% include partials/footer %>